<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #userForm="ngForm" (ngSubmit)="changPassword()">
    <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" minlength="4" required [(ngModel)]="password" #passModel="ngModel"></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel.dirty && passModel.valid"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repeat Password</ion-label>
        <ion-input type="password" name="password2" required [(ngModel)]="passwordconfirm" #passModel2="ngModel"></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
        
      </ion-item>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="userForm.invalid"
          >
            <ion-icon name="paper" slot="start"></ion-icon>
            Save
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            (click)="cancel()"
          >
            <ion-icon name="paper" slot="start"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
