<ion-header>
  <ion-toolbar>
    <ion-title>Edit Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #userForm="ngForm" (ngSubmit)="changeInfo()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" required  [(ngModel)]="user.email"
      #emailmodel="ngModel"></ion-input>
      <ion-icon
        name="checkmark-circle"
        slot="end"
        color="success"
        *ngIf="emailmodel.dirty && emailmodel.valid"
      ></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input name="name" required  [(ngModel)]="user.name"
      #namemodel="ngModel"></ion-input>
      <ion-icon
        name="checkmark-circle"
        slot="end"
        color="success"
        *ngIf="namemodel.dirty && namemodel.valid"
      ></ion-icon>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="userForm.invalid"
          >
            <ion-icon name="paper" slot="start"></ion-icon>
            Save
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            (click)="cancel()"
          >
            <ion-icon name="paper" slot="start"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
