<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #productForm="ngForm" (ngSubmit)="addProduct()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input
        name="title"
        required
        [(ngModel)]="newProd.title"
        #titlemodel="ngModel"
      ></ion-input>
      <ion-icon
        name="checkmark-circle"
        slot="end"
        color="success"
        *ngIf="titlemodel.dirty && titlemodel.valid"
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input
        name="description"
        required
        [(ngModel)]="newProd.description"
        #descModel="ngModel"
      ></ion-input>
      <ion-icon
        name="checkmark-circle"
        slot="end"
        color="success"
        *ngIf="descModel.dirty && descModel.valid"
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input
        type="number"
        
        name="price"
        appPositiveValue
        required
        [(ngModel)]="newProd.price"
        #priceModel="ngModel"
        
      ></ion-input>
      <ion-icon
        name="checkmark-circle"
        slot="end"
        color="success"
        *ngIf="priceModel.dirty && priceModel.valid "
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select required>
        <ion-select-option
          *ngFor="let category of categories"
          [value]="category.id"
        >
          {{category.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="inset">Photo</ion-label>
      <ion-button color="secondary" (click)="takePhoto()">
        <ion-icon name="camera" slot="start"></ion-icon>
        Camera
      </ion-button>
      <ion-button color="tertiary" (click)="pickFromGallery()">
        <ion-icon name="images" slot="start"></ion-icon>
        Gallery
      </ion-button>
    </ion-item>
    <ion-img [src]="newProd.mainPhoto" *ngIf="newProd.mainPhoto"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="productForm.invalid || !newProd.mainPhoto"
          >
            <ion-icon name="paper" slot="start"></ion-icon>
            Add product
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            fill="outline"
            [routerLink]="['/products']"
            [routerDirection]="'root'"
          >
            <ion-icon name="undo" slot="start"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
