<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product?.description}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[14]"
    [center]="[product.owner.lng, product.owner.lat]"
  >
    <mgl-marker #marker [lngLat]="[product.owner.lng, product.owner.lat]"></mgl-marker>
    <mgl-popup [marker]="marker"> The owner is here </mgl-popup>
  </mgl-map>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startNavigation()">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
